@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

body {
	background-color: #019aed;
	color:#ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

textarea, input {
	background-color:#0080c4;
	border:none;
}
