@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    background-color: #019aed;
	color:#ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	padding:0 25px;
}

body::after {
  content: "";
  background: url('https://tspforums.xyz/images/18myskins/rainbow2.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position:fixed;
  z-index: -1;   
}

textarea, input, select, button {
	background-color:rgba(0, 128, 196, 0.6);
	border:none;
	color:#ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	padding:10px;
	margin: 10px;
}

textarea {
	width: 90%;
	margin: 10px 0;
}

button {
	background-color:#ff9900;
	margin:10px 25px 10px 0;
}

input {
	width:30%;
}

#generate-button, #reset {
	text-transform:uppercase;
	font-size:1.5em;
	letter-spacing:1.2pt;
	font-weight:bold;
}

fieldset {
	border: 2px solid #ff9900;
	padding: 30px;
	margin:25px 0;
}
legend {
	padding: 0 10px;
  	font-size: 16pt;
  	font-weight: bold;
}

hr {
	border-width:0;
	background:#ff9900;
	color:#ff9900;
	height:2px;
}

#output {
	font-family:'Source Code Pro';
	font-size:10pt;
	background-color:rgba(56, 185, 255, 0.6);
	padding:25px;
}

#output h2 {
	font-family:'Source Sans Pro';
	background-color:rgba(1, 154, 237, 0.6);
	padding:5px 25px;
	text-align:center;
}

::selection {
	background-color:#ff9900;
}

h1 {
	text-align:center;
	text-transform:uppercase;
	letter-spacing:4pt;
}
