@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	background-image: url("/images/background.png");
	background-size: cover;
	font-family: 'Fira Sans', sans-serif;
	color: #444;
}

.box {
	/* background: rgba(0, 0, 0, 0.3); */
	text-align:center;
	padding:50px;
	position: fixed;
	top: 50%;
	left: 50%;
	width:80%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
    /* box-shadow: 5px 5px rgba(0,0,0,0.1); */
}

#nametitle {
	font-size: 8em;
    font-weight: 300;
	padding: 0 0 50px 0;
	color:#fff;
}

#links li {
	font-family: 'Source Serif Pro', serif;
	font-size:2em;
	display: inline-block;
	padding: 0 30px;
	font-style:italic;
	text-transform: lowercase;
}

#links li a {
	text-decoration: none;
	color: #fff;
	transition: .3s ease-in-out;
}

#links li a:hover {
	color:#fff;
	text-shadow: 0px 0px 3px #000;
}

::selection {
	background:#945cbc;
	color:#fff;
}